body {font-family:Verdana;
  background-color: #e6e6e6;
  }

h1 {font-family:Verdana;
  font-size: 150%;
  font-weight: 900 ;
  text-align: center;
  background-color: white;
  letter-spacing: 1px;
  word-spacing: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  color: #25a561;
  }
h2 {font-family:Verdana;
  font-size: 1.3em;
  font-weight: 700 ;
  text-align: center;
  letter-spacing: 1.1px ;
  color:black;  
}
h3 {font-family: Arial;
  font-size: 110%;
  font-weight: 700 ;
  font-style: italic;
  text-align: center;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #25a561;
  border-top: black;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #32686a;
}
p {font-family: Verdana;
  font-size: 0.8em;
  text-indent: 3%;
  text-align: justify;
  line-height: 14px;
  word-spacing: 4.5px;
  letter-spacing: 0px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
ul {font-family: Arial;
  font-size: 110%;
  font-style: italic;
  color:rgb(43,163,91);
}